<section class="usuarios">
    <div class="container text-center py-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        @for(usuario of misUsuarios; track usuario.id){
            <div class="col d-flex align-items-stretch"> 
                <app-usuarios-card class="w-100" [miUsuario]="usuario"></app-usuarios-card>
            </div>
        }
        </div>
    </div>
</section>

<div class="d-flex justify-content-around py-5 gap-3">

    <button class="btn btn-danger" (click)="anterior()">Anterior</button> 

    <p class="border rounded-5 p-3">{{page}}</p>

    
    <button class="btn btn-danger" (click)="siguiente()">Siguiente</button>

</div>