
<div class="container-fluid vh-100 bg-custom text-light text-center py-5 d-flex flex-column justify-content-center align-items-center p-0 m-0 ">
    

    <figure class="mb-5">

        <img [routerLink]="['/usuarios']" class="img-fluid rounded-60 w-120 cursor-pointer" src="./images/logo.jpg" alt="Logo">

    </figure>

    <div class="d-flex gap-3">
        <a class="btn btn-light text-dark p-75 rounded-75" [routerLink]="['/usuarios']">Ver Usuarios</a>
        <a class="btn btn-light text-dark p-75 rounded-75" [routerLink]="['/nuevoUsuario']">Crear Usuario</a>
    </div>

    

</div>

