<div class="card bg-dark text-white text-center p-3 h-100">
    <figure class="p-3">
        <img [src]="miUsuario.image" [alt]="miUsuario.first_name" class="usuario-img mx-auto">
    </figure>

    <div class="card-body d-flex flex-column justify-content-between">
        <div>
            <h5 class="text-danger fw-bold">Nombre</h5>
            <p>{{ miUsuario.first_name }} {{ miUsuario.last_name }}</p>

            <h5 class="text-danger fw-bold">Username</h5>
            <p>{{ miUsuario.username }}</p>

            <h5 class="text-danger fw-bold">Email</h5>
            <p>{{ miUsuario.email }}</p>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-center gap-2 mt-3">
            <button class="btn btn-light rounded-5 text-danger" 
                    [routerLink]="['/actualizarUsuario', miUsuario._id]">Actualizar</button>

            <button class="btn btn-light rounded-5 text-danger" 
                    (click)="eliminarUsuario(miUsuario._id)">Borrar</button>
                    
            <a [routerLink]="['/usuarios', miUsuario._id]" class="btn btn-light rounded-5 text-danger">Ver Perfil</a>
        </div>
    </div>
</div>