
.navbar {
  background-color: #a9c3dd; 
  color: #ecf0f1; 
}


.navbar .nav-link {
  color: #0c0c0c; 
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #f39c12; 
}


.navbar-brand {
   font-size: 2.5rem; 
  color: #0a0702; 
  font-weight: bold;
}


.navbar-toggler {
  border-color: #ecf0f1; 
}

.navbar-toggler-icon {
  background-color: #ecf0f1; 
}